<h1>Listado de Categorias</h1>

<a href="/categorias/create">Crear una categoria</a>
<table>
    <thead>
        <tr>
            <th>Nombre de Categoria</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(categoria =>{ %>
            <tr>
                <td><a href="/categorias/<%= categoria.id %>"><%= categoria.id %> <%= categoria.nombre %></a></td>
                <td><a href="/categorias/<%= categoria.id %>/edit">Editar</a> |
                    <form class="form-delete" action="/categorias/<%= categoria.id %>?_method=DELETE" method="post">
                        <button type="submit">Borrar</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script>
    document.addEventListener('submit',(event) =>{
        event.preventDefault();
        if(event.target.classList.contains('form-delete')){
            if(confirm("¿Estás seguro de que quieres eliminar esta categoría?")){
                event.target.submit();
            }
        }
    })
</script>