<h1>Editar Producto</h1>

<form class="form" action="/productos/<%= producto.id %>?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="form__group">
        <label class="form__label" for="nombre">Nombre:</label>
        <input class="form__input" type="text" name="name" id="nombre" value="<%= producto.name %>"/>
    </div>
    <div class="form__group">
        <label for="form__label" for="categoryID">Categoria:</label>
        <select class="form__input" name="categoryId" id="categoryId">
            <option value=""></option>
            <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>" <%= categoria.id === producto.categoryId ? 'selected' : '' %>><%= categoria.name %></option>
            <% }); %>
        </select>
    </div>
    <button class="button button--primary" type="submit">Guardar</button>
</form>
